
:root {
    --baseheight : 200px;
}

#content-wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

/* .c1-1, .c1-2, .c1-3, .c2-1, .c2-2, .c2-3, .c3-1, .c3-2, .c3-3 { */
.card {
    background-color:white;
    border: solid 1px lightgrey;
    border-radius:2px;
    padding: 20px;
    overflow:scroll;
}

/* SPAN 1 */
.c1-1 {
    grid: 1 / span 1;
    min-height: var(--baseheight);
}

.c1-2 {
    grid-column: 1 / span 1;
    min-height: calc(var(--baseheight) * 2);
}

.c1-3 {
    grid-column: 1 / span 1;
    min-height: calc(var(--baseheight) * 3);
}

/* SPAN 2 */
.c2-1 {
    grid-column: 1 / span 2;
    min-height: var(--baseheight);
}

.c2-2 {
    grid-column: 1 / span 2;
    min-height: calc(var(--baseheight) * 2);
}

.c2-3 {
    grid-column: 1 / span 2;
    min-height: calc(var(--baseheight) * 3);
}

/* SPAN 3 */
.c3-1 {
    grid-column: 1 / span 3;
    min-height: var(--baseheight);
}

.c3-2 {
    grid-column: 1 / span 3;
    min-height: calc(var(--baseheight) * 2);
}

.c3-3 {
    grid-column: 1 / span 3;
    min-height: calc(var(--baseheight) * 3);
}
